body {
  margin: 0;
  background: #0d0d0d;
  color: #fff;
  font-family: Arial;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 230px;
  background: #121212;
  padding: 20px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #bbb;
  text-decoration: none;
}

.sidebar a:hover {
  background: #1e1e1e;
  color: #fff;
}

main {
  flex: 1;
  padding: 20px;
}
